<h1><%="#{@merchant.name} - Invoice # #{@invoice.id}" %></h1>

<section id="invoice-info">
  <h3>Invoice Info:</h3>
  <p><%= "Status: #{@invoice.status}" %></p>
  <p><%= "Created At: #{@invoice.created_at.strftime("%A, %B %d, %Y")}" %></p>
</section>

<section id="customer-info">
  <h3>Customer Info:</h3>
  <p><%= "First name: #{@invoice.customer.first_name}" %> </p>
  <p><%= "Last name: #{@invoice.customer.last_name}" %> </p>
</section>
 

  <h3>Invoice Item Info:</h3>
  <% @invoice.invoice_items.each do |inv_item| %>
  <section id="invoice_item-info-<%= inv_item.id %>">
    <ul>
      <li><%= "Invoice item name: #{inv_item.item.name}" %></li>
      <li><%= "Invoice item quantity: #{inv_item.quantity}" %></li>
      <li><%= "Invoice item price: #{inv_item.unit_price}" %></li>
      <li>Invoice item status: <%= inv_item.status %><%= form_with url:"/merchants/#{@merchant.id}/invoice_item/#{inv_item.id}", method: :patch, local: true do |form|%>
      <%= form.select :status, [ :shipped, :packaged, :pending], selected: inv_item.status %></li>
      <%= form.submit "Update Item Status"%>
      <% end %>
    </ul>
    <% if inv_item.available_discounts%>
      <%= link_to "A discount of %#{inv_item.available_discounts.percentage_discount} was applied to #{inv_item.item.name} because #{inv_item.available_discounts.quantity_threshold} or more were ordered."%>
    <% else %>
      <p>A discount was not applied to this item.</p>
    <% end %>
    <hr>
  </section>
  <% end %>

<section id="total-revenue">
  <h3><%= "Total revenue from invoice: #{@invoice.total_revenue}" %></h3>
</section>