<h1>Admin Dashboard</h1>
<a href="/admin/merchants">Merchants</a>
<a href="/admin/invoices">Invoices</a><br><br>

<section>Incomplete Invoices</section>
<ul>
  <% @invoices.incomplete.oldest_to_newest.each do |incomplete| %>
  <li id="incomplete-invoice-<%= incomplete.id %>">
    <%= link_to "Invoice: #{incomplete.id} - #{incomplete.date_created}", admin_invoice_path(incomplete) %>
  </li>
  <% end  %>
</ul>

<section>Top Customers</section>

<% @customers.five_top_customers_by_transactions.each do |five_top_customers_by_transactions| %>
  <ul>
    <li><%= five_top_customers_by_transactions.first_name %> <%= five_top_customers_by_transactions.last_name %>

       successful transactions: <%= five_top_customers_by_transactions.successful_transactions %></li>
  </ul>
<% end %>
