<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <header>
      <div class="nav-bar">
            <%= link_to 'Go to admin/merchants', "/admin/merchants" %>
            <%= link_to 'Go to admin/invoice', "/admin/invoices" %></p>
    </header>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>
  </body>

  <footer>
  <p><%=  @repo_name %></p>
  <p><%= "#{@contributors[0].name}, #{@contributors[2].name}, #{@contributors[3].name}, #{@contributors[4].name}"%></p> 
  <%  @commits.each do |contrib, num| %>
  <p><%= contrib %>--<%= num %></p>
  <% end  %>
  <p><%=  @pull_requests%></p>

  </footer>
</html>
